.section {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    color: #ffffff;
}

.section_temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon > h3 {
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
}

.temperature > h1 {
    font-size: 60px;
}